{{!-- Notes modal --}}
<div class="modal fade" id="notesModal" tabindex="-1" role="dialog" aria-labelledby="notesModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="notesModalLabel"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="displaynotes">
          {{!-- Saved notes displayed here --}}
        </div>
        <div class="form-group shadow-textarea mt-4">
          <textarea class="form-control z-depth-1" id="bodyinput" rows="3" placeholder="New Note"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" id="savenote">SAVE NOTE</button>
      </div>
    </div>
  </div>
</div>

{{!-- Saved Articles Display Area --}}
<div class="container-fluid px-2">
  <div id="search-results" class="col-lg-12">

    {{!-- Loop through and display the articles --}}
    {{#each articles}}

    <div id={{this.id}}>

      <div class="card mb-4">
        <h3 class="card-header bg-primary text-white">{{this.title}}</h3>
        <div class="card-body">
          <p class="card-text">{{this.summary}}</p>
          <a href={{this.link}} class="btn btn-info btn-sm mr-2" target="_blank">READ</a>
          <button class="btn btn-primary btn-sm mr-2" id="viewnotes" data-id={{this.id}}>NOTES ({{this.notes.length}})</button>
          <button class="btn btn-danger btn-sm float-sm-right" id="deletearticle" data-id={{this.id}}>DELETE</button>
        </div>
      </div>

    </div>

    {{/each}}

  </div>

  <div class="col-lg-12">
  
  {{!-- Hide #noarticles div if we have articles --}}
  {{!-- We are doing it this way so we can control the div later via JQuery --}}
  {{#if articles}}
    <div class="card" id="noarticles" style="display: none;">
  {{else}}
    <div class="card" id="noarticles">
  {{/if}}
  
      <h3 class="card-header bg-warning text-white text-center">
        Uh Oh. Looks like we don't have any saved articles.
      </h3>
    </div>
  </div>
  
</div>